.headerEd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  flex-wrap: wrap-reverse;
}

.logoHeader {
  height: 50px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

/* UserAuth.module.css */
