/* .expCard {
    background-color: #ffffff;
    display: grid;
    grid-template-areas: 
    "image title title"
    "image date city "
    "image availablePlaces cardIntensity"
    "image rate price" ;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25% ;
    border-radius: 8px;
    margin: 20px;
    height: auto;
    cursor: pointer;
    text-align: center;

}

.listSectionSection {
    overflow-y: hidden;
    background-color: #F4CBA4 ;
    border-radius: 8px;
    align-self: center;
    max-width: 50%;
    border: 2px solid black;
}

.listScroll::-webkit-scrollbar {
    width: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .listScroll::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 65);
    border-radius: 1rem;
  }
  
  .listScroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(75, 75, 75);
  }

.cardTitle {
    color: #2d2d2d;
    grid-area: title;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.cardImg {
    grid-area: image;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.cardCity {
    grid-area: city;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;
    text-align: center;
}

.cardIntensity {
    grid-area: cardIntensity;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;
    text-align: center;
}


.cardDate {

    grid-area: date;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;
    text-align: center;
}


.cardAvailablePlaces {

    grid-area: availablePlaces;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;
    text-align: center;

}

.cardPrice {

    grid-area: price;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;

}

.cardRate {

    grid-area: rate;
    color: #000000;
    opacity: 65%;
    font-weight: 600;
    margin-left: 10px;
    align-content: center;

}

*/

.listSectionSection {
  background-color: aquamarine;
  width: 100vw;
}

.expCard {
  background-color: #f8f8f8;
  color: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
}

.cardImg {
  width: 200px;
  height: 200px;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: left;
}
