.searchForm {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 100%;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  border: none;
}

.selected {
  color: #9c9c9c;
  font-weight: bold;
}
