* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px white; */
}

.app header {
  background-color: rgba(28, 28, 28, 1);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app header h1 a {
  font-weight: 500;
  color: rgba(210, 129, 0, 1);
  text-decoration: inherit;
}

.app header h1 a:hover {
  color: rgba(238, 168, 57, 1);
}

.app header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.app header nav ul li a {
  color: rgba(210, 129, 0, 1);
  text-decoration: inherit;
}

.app header nav ul li a:hover {
  color: rgba(238, 168, 57, 1);
  text-decoration: inherit;
}

.app header nav section {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.app header nav section a {
  color: rgba(210, 129, 0, 1);
  text-decoration: inherit;
}

.app header nav section a:hover {
  color: rgba(238, 168, 57, 1);
  text-decoration: inherit;
}

.app header nav section button {
  background-color: rgba(74, 74, 74, 0.5);
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app header nav section button:hover {
  background-color: rgba(132, 132, 132, 0.5);
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.formSection {
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  background-color: rgba(28, 28, 28, 1);
  border-radius: 0.3rem;
}

.listSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  max-width: 800px;
  margin: 2rem auto;
  background-color: rgba(28, 28, 28, 1);
  border-radius: 0.3rem;
}

.onboardingSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  background-color: rgba(28, 28, 28, 1);
  border-radius: 0.3rem;
}

.onboardingText {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(74, 74, 74, 0.5);
  border-radius: 0.3rem;
  overflow: auto;
  max-height: 200px;
}

.onboardingText::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.onboardingText::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 1rem;
}

.onboardingText::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75, 75, 75);
}

.onboardingText p {
  text-align: justify;
  padding: 0.5rem;
}

.listSection section {
  width: auto;
  max-width: 800px;
  background-color: rgba(45, 45, 45, 1);
  border-radius: 0.3rem;
  margin: 1rem;
  overflow: auto;
  max-height: 400px;
  padding: 10px;
}

.listSection section::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.listSection section::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 1rem;
}

.listSection section::-webkit-scrollbar-thumb:hover {
  background-color: rgb(75, 75, 75);
}

form fieldset {
  border: none;
  margin-bottom: 1rem;
}

form label {
  display: flex;
  margin-bottom: 0.5rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
}

ul {
  list-style-type: none;
}

.app main button {
  background-color: rgba(74, 74, 74, 0.5);
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app main button:hover {
  background-color: rgba(210, 129, 0, 1);
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.app main button:disabled {
  transition: background-color 0.3s ease;
}

.app main button:disabled:hover {
  background-color: rgba(74, 74, 74, 0.719);
}

.app main a {
  color: rgba(210, 129, 0, 1);
  text-decoration: inherit;
  margin: 1rem;
}

.app main a:hover {
  color: rgba(238, 168, 57, 1);
  text-decoration: inherit;
}

.expCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(28, 28, 28, 1);
  border-radius: 0.3rem;
}
